<!DOCTYPE html>
<head>
<title>{{ site.name }}{% if page.title %} - {{ page.title }}{% endif %}</title>
<meta charset=utf-8>
<meta name=viewport content="width=device-width, initial-scale=1, user-scalable=no">
<link rel=stylesheet href={{ site.baseurl }}/stylesheets/styles.css>
<link rel=stylesheet href={{ site.baseurl }}/stylesheets/doxy.css>
<link rel=stylesheet href={{ site.baseurl }}/stylesheets/pygment_trac.css>
<link rel=alternate title="PTB News" type=application/atom+xml href={ site.baseurl }}/news.atom>
<link rel=icon type=image/x-icon href={{ site.baseurl }}/favicon.ico>
</head>

<div class=wrapper>

<aside>
  <h1><a href="/">Psychtoolbox-3</a></h1>

  <p>Psychophysics Toolbox Version 3 (PTB-3) is a free set of <a href="http://www.mathworks.com">Matlab</a> and 
  <a href=http://www.octave.org>GNU Octave</a> functions for vision and neuroscience research. It makes it easy to synthesize
  and show accurately controlled visual and auditory stimuli and interact with the observer.</p> 

  <nav>
  <ul>
    <li><small>Getting started</small>
    <ul>
      <li><a href={{ site.baseurl }}/news.html>News</a></li>
      <li><a href={{ site.baseurl }}/overview.html>Overview</a></li>
      <li><a href={{ site.baseurl }}/versions.html>Versions</a></li>
      <li><a href={{ site.baseurl }}/requirements.html>System Requirements</a></li>
      <li><a href={{ site.baseurl }}/download.html>Download</a></li>
    </ul>
    </li>
  </ul>
  <ul>
    <li><small>Getting help</small>
    <ul>
      <li><a href=http://peterscarfe.com/ptbtutorials.html>Tutorial</a></li>
      <li><a href={{ site.baseurl }}/docs/Psychtoolbox.html>Function Reference</a></li>
      <li><a href=https://github.com/Psychtoolbox-3/Psychtoolbox-3/wiki/FAQ>FAQ</a></li>
      <li><a href={{ site.baseurl }}/forum.html>Forum</a></li>
    </ul>
  </li>
  </ul>
  <ul>
    <li><small>Diving in</small>
    <ul>
      <li><a href={{ site.baseurl }}/contribute>Contribute to the project</a></li>
      <li><a href=https://github.com/Psychtoolbox-3/Psychtoolbox-3/wiki>Wiki</a></li>
      <li><a href=https://github.com/Psychtoolbox-3/Psychtoolbox-3/issues>Bugs &amp; Feature requests</a></li>
      <li><a href=https://github.com/Psychtoolbox-3/Psychtoolbox-3>Git repository</a></li>
    </ul>
    </li>
  </ul>
  </nav>

  <ul class=buttons>
    <li><a href=https://psychtoolbox.discourse.group>Support <strong>Forum</strong></a></li>
    <li><a href=https://raw.github.com/Psychtoolbox-3/Psychtoolbox-3/master/Psychtoolbox/DownloadPsychtoolbox.m>Automatic <strong>Installer</strong></a></li>
    <li><a href=https://github.com/Psychtoolbox-3/Psychtoolbox-3/zipball/master>Download PTB<strong>ZIP File</strong></a></li>
    <li><a href=https://github.com/Psychtoolbox-3/Psychtoolbox-3>View On <strong>GitHub</strong></a></li>
  </ul>
</aside>

<section id=content>

{{ content }}

<footer>
  <p> <a href="https://github.com/psychtoolbox-3/psychtoolbox-3.github.com/edit/master/{{ page.path }}">
    edit and fork this page on GitHub
  </a>
  </p>
  <p>Last updated on <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%B %d, %Y' }}</time></p>  
</footer>
</section>

</div>
<script src=/javascripts/scale.fix.js></script>
<script>
  (function() {
    var langRe = /\blang(?:uage)?-([\w.]+)(?!\S)/;
    var codeblocks = document.getElementsByTagName('code');
    for (var i = 0; i < codeblocks.length; i++) {
      if (codeblocks[i].className.match(langRe) && codeblocks[i].parentNode.nodeName.toLowerCase() === 'pre') {
        codeblocks[i].parentNode.classList.add('prettyprint');
        if (codeblocks[i].classList.contains('language-matlab')) {
          codeblocks[i].parentNode.classList.add('light');
        }
      }
    }
  })();
</script>
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?lang=matlab"></script>
